a {
    cursor: pointer;
}

.mat-form-field {
    display: block;
}

.avatar {
    height: 150px;
    width: 150px;
}

input[type='file'] {
    display: none;
}

::ng-deep
    .mat-checkbox-checked.mat-accent
    .mat-checkbox-ripple
    .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #1dc7ea !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #1dc7ea;
}
